!!! 5

%html

  %head
    %meta{"charset" => "UTF-8"}
    - if @title.nil?
      %title Hatena Bookmark CLI Auth
    - else
      %title= "#{@title} - Hatena Bookmark CLI Auth"
    %link{"rel" => "stylesheet", "href" => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
    %script{"src" => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    %style body {margin-bottom: 128px;}

  %body
    %div#header.container
      %h1 Hatena Bookmark CLI Auth
    %div#wrapper.container
      = yield

